.celda {
    align-items: center;
    aspect-ratio: 1 / 1;
    background-color: goldenrod;
    cursor: pointer;
    display: flex;
    font-size: 20px;
    font-weight: bold;
    justify-content: center;
}
